<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>MacHu-GWU.afwf_awscli_profile</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>21B3516F-19E2-4D5F-8980-D382F2E7076B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>BE4F5535-E267-41F3-9CC7-BE6F14B86485</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>3668C61B-A347-488B-B227-3FA93E728D24</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E9A6B648-EB99-47A4-92A7-A4656F803ED5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>A8C761C8-6157-4668-8CB3-E12DC712E21C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>510716FA-3ADB-48FD-963C-9B0125F7C8AA</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F35E20DC-2024-464A-9530-11744155BCE0</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>7707FF4D-12AB-440A-B63F-4E12F6F99135</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>510716FA-3ADB-48FD-963C-9B0125F7C8AA</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>E9A6B648-EB99-47A4-92A7-A4656F803ED5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>A8C761C8-6157-4668-8CB3-E12DC712E21C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>9DE3F82B-0E27-4595-9369-16C0FAB5B0D2</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>21B3516F-19E2-4D5F-8980-D382F2E7076B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A8C761C8-6157-4668-8CB3-E12DC712E21C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B599E365-D2AE-4AF7-A7BF-002A303B3ABC</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E9A6B648-EB99-47A4-92A7-A4656F803ED5</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>09537BD2-6313-4175-AD0E-6E3FF9D03779</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Sanhe Hu</string>
	<key>description</key>
	<string>AWS CLI Profile Alfred Workflow</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>AWS CLI Profile</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>2</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<false/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>68</integer>
				<key>keyword</key>
				<string>awscli-set-default-profile</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>2</integer>
				<key>runningsubtext</key>
				<string>please wait ...</string>
				<key>script</key>
				<string>/usr/bin/python3 main.py 'set_default_profile {query}'</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Set given AWS CLI profile as the default</string>
				<key>title</key>
				<string>awscli-set-default-profile</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>3668C61B-A347-488B-B227-3FA93E728D24</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>skipqueryencode</key>
				<false/>
				<key>skipvarencode</key>
				<false/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>{var:open_url_arg}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>F35E20DC-2024-464A-9530-11744155BCE0</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{var:open_url}</string>
				<key>matchcasesensitive</key>
				<true/>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string>y</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>510716FA-3ADB-48FD-963C-9B0125F7C8AA</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>{query}</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>09537BD2-6313-4175-AD0E-6E3FF9D03779</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>2</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<false/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>68</integer>
				<key>keyword</key>
				<string>awscli-mfa-auth</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>2</integer>
				<key>runningsubtext</key>
				<string>please wait ...</string>
				<key>script</key>
				<string>/usr/bin/python3 main.py 'mfa_auth {query}'</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>MFA Authenticate using named profile in ~/.aws</string>
				<key>title</key>
				<string>awscli-mfa-auth</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>7707FF4D-12AB-440A-B63F-4E12F6F99135</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{var:run_script}</string>
				<key>matchcasesensitive</key>
				<true/>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string>y</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>E9A6B648-EB99-47A4-92A7-A4656F803ED5</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>2</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<false/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>escaping</key>
				<integer>68</integer>
				<key>keyword</key>
				<string>awscli-settings</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>2</integer>
				<key>runningsubtext</key>
				<string>please wait ...</string>
				<key>script</key>
				<string>/usr/bin/python3 main.py 'view_or_edit_settings {query}'</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>View or edit settings for this workflow</string>
				<key>title</key>
				<string>awscli-settings</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>9DE3F82B-0E27-4595-9369-16C0FAB5B0D2</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{var:send_notification_subtitle}</string>
				<key>title</key>
				<string>{var:send_notification_title}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>B599E365-D2AE-4AF7-A7BF-002A303B3ABC</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{var:send_notification}</string>
				<key>matchcasesensitive</key>
				<true/>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string>y</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>A8C761C8-6157-4668-8CB3-E12DC712E21C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>openwith</key>
				<string></string>
				<key>sourcefile</key>
				<string>{var:open_file_path}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openfile</string>
			<key>uid</key>
			<string>BE4F5535-E267-41F3-9CC7-BE6F14B86485</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{var:open_file}</string>
				<key>matchcasesensitive</key>
				<true/>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string>y</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>21B3516F-19E2-4D5F-8980-D382F2E7076B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>This workflow automates the manipulation of the ~/.aws/config, ~/.aws/credentials files.

Features:

- full text search your aws named profiles, set given one as the default (by editing the ~/.aws files).
- do mfa authentication for AWS CLI. You can use a base 'profile' for mfa, and a new profile 'profile_mfa' will be automatically created, and set it as the default.</string>
	<key>uidata</key>
	<dict>
		<key>09537BD2-6313-4175-AD0E-6E3FF9D03779</key>
		<dict>
			<key>xpos</key>
			<real>650</real>
			<key>ypos</key>
			<real>225</real>
		</dict>
		<key>21B3516F-19E2-4D5F-8980-D382F2E7076B</key>
		<dict>
			<key>xpos</key>
			<real>565</real>
			<key>ypos</key>
			<real>465</real>
		</dict>
		<key>3668C61B-A347-488B-B227-3FA93E728D24</key>
		<dict>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>120</real>
		</dict>
		<key>510716FA-3ADB-48FD-963C-9B0125F7C8AA</key>
		<dict>
			<key>xpos</key>
			<real>565</real>
			<key>ypos</key>
			<real>150</real>
		</dict>
		<key>7707FF4D-12AB-440A-B63F-4E12F6F99135</key>
		<dict>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>225</real>
		</dict>
		<key>9DE3F82B-0E27-4595-9369-16C0FAB5B0D2</key>
		<dict>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>330</real>
		</dict>
		<key>A8C761C8-6157-4668-8CB3-E12DC712E21C</key>
		<dict>
			<key>xpos</key>
			<real>565</real>
			<key>ypos</key>
			<real>360</real>
		</dict>
		<key>B599E365-D2AE-4AF7-A7BF-002A303B3ABC</key>
		<dict>
			<key>xpos</key>
			<real>650</real>
			<key>ypos</key>
			<real>330</real>
		</dict>
		<key>BE4F5535-E267-41F3-9CC7-BE6F14B86485</key>
		<dict>
			<key>xpos</key>
			<real>650</real>
			<key>ypos</key>
			<real>435</real>
		</dict>
		<key>E9A6B648-EB99-47A4-92A7-A4656F803ED5</key>
		<dict>
			<key>xpos</key>
			<real>565</real>
			<key>ypos</key>
			<real>255</real>
		</dict>
		<key>F35E20DC-2024-464A-9530-11744155BCE0</key>
		<dict>
			<key>xpos</key>
			<real>650</real>
			<key>ypos</key>
			<real>120</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array/>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
	<string>0.1.1</string>
	<key>webaddress</key>
	<string>https://github.com/MacHu-GWU/afwf_awscli_profile-project</string>
</dict>
</plist>
